a {
    color: var(--color-primary-gray);
}

.episode-page-container {
    display: flex;
    margin: 0 auto;
    margin-block-start: 2rem;
    max-width: 1050px;
    gap: 3rem
}

.episode-page-right-content {
    border-radius: 5px;
    padding: 1rem;
    min-width: 25vw;
}

.episode-page-audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 2px;
    background-color: var(--color-primary-blue);
    margin-block-start: 4rem;
}

.episode-page-player {
    width: 100%;
}

@media (max-width: 1110px) {
    .episode-page-container {
        max-width: 1000px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
}
